:root {
    --primary-color: #a1adbb;
    --secondary-color: #0067a3;
    --tertiary-color: #747d87;
    --Quaternary-color: #4d5b6b;
    --btn-color: #095480;
}

* {
    /* border: 1px solid red;    */
    box-sizing: border-box;
    color: white;
}


.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {

    background-color: var(--primary-color);
}

.submit-btn {
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 60%;
    height: 1.5rem;
}

.submit-btn:hover {
    background-color: var(--btn-color);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-create-btn-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
}

#show-form-btn {
    width: 200px;
    height: 100%;
    border-radius: 10px;
}


#board-form {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: rgba(100, 98, 98, 0.437);

}

.create-close-board-btn {
    background-color: var(--primary-color);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}




#board-name-form {
    display: flex;
    width: 25%;
    flex-direction: column;
    row-gap: 4px;
    background-color: var(--tertiary-color);
    position: absolute;
    top: 3rem;
    right: 1rem;

}

#board-name {
    background-color: white;
    color: var(--tertiary-color);
    height: 2.5rem;
}

.board-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    
}

.del-board-btn {
    background-color: var(--primary-color);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: var(--secondary-color);
    position: absolute;
    right: 4px;
    top: 4px;
}

.main-container {
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
    display: flex;

}

.sidebar-container {
    background-color: var(--tertiary-color);
    width: 20%;
    overflow-x: hidden;
    padding: 1px;
    height: 90vh;
}

.sidebar-workspace {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#sidebar-button {
    position: absolute;
    right: 0px;
    width: 20px;
    background-color: var(--secondary-color);
    color: white;
}

.sidebar-board-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 40px;
    justify-content: flex-start;
}

.sidebar-board-item:hover {
    background-color: var(--Quaternary-color);
}

.content-container {
    width: 100%;
    padding: 0% 5%;

}

.content-board-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;



}

.container-board-item {
    display: flex;
    align-items: center;
    justify-content: center;
}